---
import Container from "./Container.astro";
import PrimaryButton from "./PrimaryButton.astro";
import { integrationSection } from "../data/home-v1";
---

<section
  class="bg-surface-primary relative overflow-hidden py-90 min-1280:py-110 min-1440:py-130 max-991:py-70 max-767:py-50"
>
  <Container>
    <div class="relative z-10">
      <div class="integration-wrapper">
        <!-- Left: Content Block -->
        <div class="integration-content-block">
          <div class="reveal">
            <span
              class="mb-20 inline-block rounded-19 bg-brand-primary px-20 py-4 font-sans text-sm font-medium text-white"
            >
              {integrationSection.badge}
            </span>
          </div>
          <h2 class="reveal delay-1">
            {integrationSection.title}{" "}
            <span
              class="inline-flex items-center justify-center bg-[url('/images/title-highlight-shape.svg')] bg-[position:50%_80%] bg-no-repeat bg-[length:100%]"
            >
              {integrationSection.titleHighlight}
            </span>
            {
              integrationSection.titleAfter &&
                ` ${integrationSection.titleAfter}`
            }
          </h2>
          <p class="mt-20 reveal delay-2">{integrationSection.description}</p>
          <div class="mt-40 max-991:mt-20 reveal delay-3">
            <PrimaryButton href={integrationSection.cta.href}>
              {integrationSection.cta.label}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="18"
                viewBox="0 0 23 18"
                fill="none"
                class="ml-10"
              >
                <g clip-path="url(#clip_int_arrow)">
                  <path
                    d="M21.0834 9.0376L13.8959 1.8501M21.0834 9.0376L13.8959 16.2251M21.0834 9.0376L8.50525 9.0376M1.91671 9.0376L4.9115 9.0376"
                    stroke="currentColor"
                    stroke-width="1.79688"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </g>
                <defs>
                  <clipPath id="clip_int_arrow">
                    <rect
                      width="17.25"
                      height="23"
                      fill="currentColor"
                      transform="translate(23 0.412598) rotate(90)"></rect>
                  </clipPath>
                </defs>
              </svg>
            </PrimaryButton>
          </div>
        </div>

        <!-- Right: Circle Animation Block -->
        <div class="integration-circle-animation-block relative">
          <div class="integration-items-logo-block reveal-grow delay-2">
            <div class="integration-circle-wrap">
              <!-- Circle One (outer) — spins clockwise -->
              <div
                class="integration-circle circle-one integration-spin"
                aria-hidden="true"
              >
                <!-- Brand icon 1: top-left area -->
                <div class="brand-icon-block one">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="29"
                      height="37"
                      viewBox="0 0 29 37"
                      fill="none"
                      ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M13.8766 3.4416V1.16274C10.9564 1.30697 8.27149 2.31659 6.13465 4.14501L5.25816 3.36394C7.6169 1.29144 10.7678 -0.00442653 14.5311 1.13624e-05C14.6931 1.13624e-05 14.8529 1.13623e-05 15.0127 0.00444926V1.15165V3.45713C17.2582 3.58583 19.313 4.42681 20.9528 5.75818L20.0852 6.53038C18.5297 5.32105 16.5792 4.59767 14.4579 4.58436C14.2627 4.57992 14.0674 4.57992 13.8743 4.58658V3.4416H13.8766ZM6.24116 7.28704L4.55032 5.77815C4.2907 6.0999 4.0444 6.43718 3.81141 6.79221C2.53995 8.72714 1.8077 10.986 1.65015 13.2871H4.11318C4.13981 11.3655 4.65017 9.62359 5.52887 8.15686L6.39648 8.93128C5.67089 10.2138 5.25594 11.7405 5.25372 13.4535V25.3315C-1.25223 18.9077 -0.710809 9.50599 4.43715 4.14945L5.30476 4.92386L5.30032 4.9283L6.91572 6.36839C8.42016 4.84398 10.4372 3.83214 12.7405 3.53258V4.68865C10.4172 5.0348 8.38466 6.19753 7.02888 7.97491L6.24781 7.28038L6.24116 7.28704ZM14.4579 36.6282L23.6288 25.367C29.7132 18.5349 29.4425 10.9749 25.9033 5.9002L25.0312 6.67683C26.367 8.62506 27.1459 10.915 27.259 13.3115L24.7982 13.2937C24.6806 11.0592 23.8596 9.01116 22.5504 7.36914L25.1932 5.01927L25.2176 4.99708C22.992 2.30106 19.7834 0.468209 16.1465 0.0776746V1.2404C18.8004 1.56881 21.2767 2.73376 23.2472 4.59323C23.3626 4.70196 23.4757 4.81291 23.5889 4.92608L21.3677 6.90094H21.3699L20.9417 7.28482C22.6259 8.96234 23.6688 11.2834 23.6688 13.8462C23.6688 18.9254 19.5815 23.0482 14.5178 23.1081V18.3951C16.9786 18.3352 18.9557 16.3226 18.9557 13.8485C18.9557 11.3743 16.9187 9.29962 14.4069 9.29962C11.895 9.29962 9.85804 11.3366 9.85804 13.8485C9.85804 19.5689 9.88911 25.296 9.88911 31.0187L14.4579 36.6304V36.6282Z"
                        fill="#E90013"></path></svg
                    >
                  </div>
                </div>
                <!-- Brand icon 2: left side -->
                <div class="brand-icon-block two">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="33"
                      height="35"
                      viewBox="0 0 33 35"
                      fill="none"
                      ><path
                        d="M6.72362 21.9688H2.18874C1.14721 21.9688 0.275491 21.1423 0.243145 20.1283C0.226972 19.614 0.416195 19.1272 0.771998 18.7585C1.13912 18.38 1.64048 18.1714 2.18389 18.1714H8.45573V19.6269H2.18551C2.03833 19.6269 1.90895 19.6787 1.81838 19.7725C1.76178 19.8307 1.69385 19.9326 1.6987 20.0846C1.70517 20.3175 1.92998 20.5132 2.18874 20.5132H6.72362V21.9688Z"
                        fill="#2929D9"></path><path
                        d="M23.9894 34.7663H23.894C22.5387 34.7663 21.4357 33.6634 21.4357 32.3081V10.3388C21.4357 7.46977 19.1537 5.08265 16.3493 5.01634C14.9374 4.984 13.5983 5.50961 12.5843 6.49939C11.5702 7.48917 11.0107 8.81373 11.0107 10.2272V12.4559H9.5551V10.2272C9.5551 8.41912 10.2699 6.72582 11.567 5.45786C12.8641 4.19153 14.5735 3.51712 16.3833 3.56078C19.9721 3.64488 22.8913 6.68538 22.8913 10.3372V32.3065C22.8913 32.8596 23.3409 33.3092 23.894 33.3092H23.9894C24.5425 33.3092 24.9921 32.8596 24.9921 32.3065V10.2272C24.9921 7.86277 24.0622 5.64547 22.3721 3.98128C20.6837 2.31871 18.4534 1.42435 16.0857 1.45831C11.3244 1.53109 7.45263 5.52902 7.45263 10.3712V12.4559H5.99707V10.3712C5.99545 4.73817 10.5125 0.086849 16.0631 0.00113272C18.8222 -0.0392995 21.4244 1.00385 23.3926 2.94298C25.3625 4.88211 26.4461 7.46977 26.4461 10.2256V32.3065C26.4461 33.6617 25.3431 34.7647 23.9878 34.7647L23.9894 34.7663Z"
                        fill="#2929D9"></path><path
                        d="M8.45535 34.7663C7.10006 34.7663 5.99707 33.6634 5.99707 32.3081V20.6313C5.99707 19.276 7.10006 18.173 8.45535 18.173C9.81063 18.173 10.9136 19.276 10.9136 20.6313V32.3081C10.9136 33.6634 9.81063 34.7663 8.45535 34.7663ZM8.45535 19.6285C7.90223 19.6285 7.45263 20.0781 7.45263 20.6313V32.3081C7.45263 32.8612 7.90223 33.3108 8.45535 33.3108C9.00846 33.3108 9.45807 32.8612 9.45807 32.3081V20.6313C9.45807 20.0781 9.00846 19.6285 8.45535 19.6285Z"
                        fill="#2929D9"></path><path
                        d="M18.6802 13.3278H17.2247V10.229C17.2247 9.67592 16.7751 9.22631 16.2219 9.22631C15.6688 9.22631 15.2192 9.67592 15.2192 10.229V13.3278H13.7637V10.229C13.7637 8.87374 14.8667 7.77075 16.2219 7.77075C17.5772 7.77075 18.6802 8.87374 18.6802 10.229V13.3278Z"
                        fill="#2929D9"></path><path
                        d="M16.2317 34.7662C14.7292 34.7662 13.5065 33.5597 13.5065 32.0783V19.829C13.5065 18.134 12.127 16.7545 10.4321 16.7545H2.9311C1.44966 16.7561 0.243164 15.5496 0.243164 14.0682C0.243164 12.5867 1.44966 11.3802 2.9311 11.3802H10.4709C15.1303 11.3802 18.9212 15.1712 18.9212 19.8306V32.0783C18.9212 33.5597 17.7147 34.7662 16.2333 34.7662H16.2317ZM2.9311 12.8358C2.25184 12.8358 1.69872 13.3889 1.69872 14.0682C1.69872 14.7474 2.25184 15.3006 2.9311 15.3006H10.4321C12.9292 15.3006 14.9621 17.3319 14.9621 19.8306V32.0783C14.9621 32.7462 15.5443 33.3107 16.2317 33.3107C16.919 33.3107 17.464 32.7576 17.464 32.0783V19.829C17.464 15.9717 14.3265 12.8342 10.4693 12.8342H2.9311V12.8358Z"
                        fill="#2929D9"></path><path
                        d="M16.4707 15.6013L15.3257 14.7021C16.9397 12.6481 19.3624 11.4691 21.9727 11.4691H22.5711V12.9247H21.9727C19.812 12.9247 17.8066 13.8999 16.4707 15.6013Z"
                        fill="#2929D9"></path><path
                        d="M29.5127 16.8467H25.4824V15.3911H29.5127C30.192 15.3911 30.7451 14.838 30.7451 14.1588C30.7451 13.4795 30.192 12.9264 29.5127 12.9264H25.9482V11.4708H29.5127C30.9941 11.4708 32.2006 12.6773 32.2006 14.1588C32.2006 15.6402 30.9941 16.8467 29.5127 16.8467Z"
                        fill="#2929D9"></path><path
                        d="M18.9375 19.9199H17.4819C17.4819 17.4228 19.5132 15.3899 22.012 15.3899H22.4551V16.8455H22.012C20.317 16.8455 18.9375 18.225 18.9375 19.9199Z"
                        fill="#2929D9"></path><path
                        d="M30.3038 21.9688H25.722V20.5132H30.3038C30.548 20.5132 30.7469 20.3143 30.7469 20.0701C30.7469 19.8259 30.548 19.6269 30.3038 19.6269H25.7188V18.1714H30.3038C31.3501 18.1714 32.2025 19.0237 32.2025 20.0701C32.2025 21.1165 31.3518 21.9688 30.3038 21.9688Z"
                        fill="#2929D9"></path></svg
                    >
                  </div>
                </div>
                <!-- Brand icon 3: bottom-left -->
                <div class="brand-icon-block three">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="34"
                      height="38"
                      viewBox="0 0 34 38"
                      fill="none"
                      ><path
                        d="M17.3234 26.6785C19.8715 24.1718 22.3825 21.6264 24.9089 19.0973C25.0037 19.0026 25.0847 18.8932 25.1587 18.8062C23.9045 17.552 22.6693 16.3176 21.3849 15.0332C21.217 15.1934 21.0585 15.3399 20.906 15.4924C18.4476 17.9491 16.0064 20.423 13.5264 22.8582C11.4737 24.873 8.17018 24.4053 6.81175 21.9494C5.86507 20.2387 6.17689 18.2394 7.64558 16.7672C11.6993 12.704 15.7609 8.64765 19.8232 4.59303C19.9757 4.44056 20.1721 4.33203 20.2419 4.2812C18.9084 2.94086 17.6568 1.68235 16.388 0.406616C15.0915 1.70389 13.7426 3.05112 12.3971 4.40094C9.38131 7.4236 6.29749 10.3825 3.37217 13.4905C-0.284484 17.3754 0.175505 23.7213 4.23357 27.1859C8.07112 30.4618 13.6849 30.2585 17.3234 26.6785Z"
                        fill="#053651"></path><path
                        d="M31.0063 14.7862C27.9112 11.7575 24.8757 8.66769 21.8125 5.60627C21.679 5.47275 21.5334 5.35216 21.5024 5.32373C20.2034 6.60808 18.9544 7.84247 17.6631 9.11907C17.788 9.23019 17.9586 9.36715 18.1128 9.52048C21.2044 12.6095 24.3054 15.6898 27.3798 18.7961C28.9225 20.3552 29.0491 22.6965 27.7433 24.396C26.4701 26.0525 24.1719 26.5022 22.2759 25.4659C22.1674 25.4065 22.0546 25.3556 21.847 25.2531C21.9805 25.4969 22.0571 25.633 22.1304 25.7708C23.5706 28.5006 21.8297 31.7231 18.7606 31.991C17.3384 32.1151 16.166 31.5862 15.1771 30.5766C15.0272 30.4233 14.7085 30.2553 14.5509 30.3147C12.387 31.1313 10.1819 31.2321 7.85693 30.8609C8.92163 31.9238 9.96565 33.0092 11.0596 34.0403C11.7789 34.7182 12.5068 35.4237 13.3415 35.9371C18.5108 39.1131 25.0677 36.9243 27.3651 31.3079C27.4504 31.0986 27.6494 30.8617 27.8518 30.7842C34.3175 28.2922 36.1953 19.8651 31.0054 14.7854L31.0063 14.7862Z"
                        fill="#053651"></path></svg
                    >
                  </div>
                </div>
                <!-- Brand icon 4: bottom-right -->
                <div class="brand-icon-block four">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="28"
                      height="35"
                      viewBox="0 0 28 35"
                      fill="none"
                      ><g clip-path="url(#clip_int_4)"
                        ><path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M20.2661 17.2965C20.2661 18.9299 20.0124 20.3772 19.5041 21.6394C18.9969 22.901 18.317 23.9715 17.4632 24.8499C16.6096 25.7283 15.6327 26.3898 14.531 26.8356L14.4852 26.8537L14.4394 26.8719C8.09852 29.4451 4.40794 24.4865 6.55664 18.5671C7.46072 16.0784 9.17874 13.451 11.1022 11.0701C10.7876 11.0142 10.4633 10.9866 10.1322 10.9866C9.36547 10.9866 8.63612 11.1351 7.94221 11.4321C7.24943 11.7291 6.64345 12.1553 6.12455 12.7127C5.60454 13.2693 5.19004 13.9308 4.87994 14.6984C4.57122 15.4657 4.41603 16.3318 4.41603 17.2965V17.3417C4.41603 22.6593 4.40319 29.7739 4.42524 35H0V7.4981H4.52796V10.7641C5.24531 9.72495 6.13069 8.85241 7.19472 8.14678C8.25846 7.44227 9.57593 7.08946 11.153 7.08946C12.1922 7.08946 13.1998 7.2667 14.1756 7.62203C15.8735 5.88224 17.4941 4.47155 18.6483 3.63306C17.3836 5.2076 16.2411 6.68947 15.2218 8.08119L15.1796 8.14036L15.0504 8.31788L14.9633 8.4354L14.879 8.55207L14.7944 8.66819L14.7113 8.7843L14.6281 8.90042L14.505 9.07292L14.3839 9.24486L14.263 9.41568L14.1432 9.58539L14.0246 9.75398L13.9082 9.92201L13.7932 10.0889L13.6791 10.2545L13.5663 10.4197L13.4549 10.5838L13.3447 10.7465L13.2355 10.9087L13.1289 11.0687L12.919 11.3869L12.8157 11.5446L12.7476 11.649C11.2186 14.0014 10.1453 16.0142 9.52541 17.6875C7.71473 22.5837 10.851 25.3713 14.0874 21.899C14.5946 21.3547 14.9963 20.6932 15.2932 19.9133C15.5902 19.1337 15.7382 18.2617 15.7382 17.2965C15.7382 16.3313 15.5902 15.4593 15.2932 14.6797C14.9963 13.9007 14.5946 13.2383 14.0874 12.694C14.0428 12.6452 13.997 12.5988 13.9512 12.5525C13.964 12.5313 13.9783 12.5098 13.9922 12.4886C14.7836 11.2696 15.6209 10.0713 16.4851 8.89232C16.815 9.14828 17.1321 9.43243 17.4338 9.7431C18.2874 10.6221 18.9674 11.6917 19.4876 12.9541C20.0068 14.2158 20.2675 15.6636 20.2675 17.2965"
                          fill="#092533"></path><path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M18.9099 5.71982L27.5854 0H20.3873C21.5697 2.00802 21.0779 3.91444 18.9102 5.71982"
                          fill="#D92A27"></path></g
                      ><defs
                        ><clipPath id="clip_int_4"
                          ><rect width="27.5853" height="35" fill="white"
                          ></rect></clipPath
                        ></defs
                      ></svg
                    >
                  </div>
                </div>
                <!-- Brand icon 5: top-right -->
                <div class="brand-icon-block five">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      ><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M16.0003 16.0003L23.9999 23.9994L16.0003 31.999H0L7.9996 23.9994L16.0003 16.0003L23.9999 7.99963L32 16.0003L23.9999 23.9994L16.0003 16.0003Z"
                        fill="#2E00AB"></path><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M16.0003 16.0003L23.9999 7.9996L16.0003 0H0L8.00066 7.9996L16.0003 16.0003Z"
                        fill="#2BC3FD"></path><path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M23.9998 23.9994L16.0002 16.0003L23.9998 7.99963L32 16.0003L23.9998 23.9994Z"
                        fill="#2D50CE"></path></svg
                    >
                  </div>
                </div>
              </div>

              <!-- Circle Two (middle) — spins counter-clockwise -->
              <div
                class="integration-circle circle-two integration-spin-reverse"
                aria-hidden="true"
              >
                <!-- Brand icon two 1: top center -->
                <div class="brand-icon-block-two one">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="34"
                      height="33"
                      viewBox="0 0 34 33"
                      fill="none"
                      ><path
                        d="M13.4098 32.2862H6.16113V25.625H7.90947V30.5379H11.6614V24.1809H13.4098V32.2862Z"
                        fill="#6441A5"></path><path
                        d="M7.90947 17.4272H6.16113V0.130859H7.0353C10.5495 0.130859 13.4098 2.99115 13.4098 6.50531V12.3046H11.6614V6.50531C11.6614 4.25345 10.0442 2.37223 7.90947 1.96137V17.4272Z"
                        fill="#6441A5"></path><path
                        d="M26.6203 32.6483L17.9048 23.9328L19.1409 22.6968L26.5608 30.1167C27.7794 28.3177 27.5941 25.8438 26.0014 24.251L22.6638 20.9134L23.8998 19.6774L27.2374 23.015C29.7236 25.5011 29.7236 29.545 27.2374 32.0294L26.6185 32.6483H26.6203Z"
                        fill="#6441A5"></path><path
                        d="M33.5786 2.68704C33.8374 2.2587 34 1.97546 34 1.97546C34 1.97546 13.3171 8.84295 0 30.2426L6.20661 23.4171C6.20661 23.4171 16.8907 8.96883 33.5786 2.68704Z"
                        fill="url(#paint0_int_1)"></path><path
                        d="M10.6615 23.1112C10.6615 23.1112 10.5724 21.6793 8.72436 21.0814C8.72436 21.0814 9.58979 20.8279 11.1108 21.3996C12.6319 21.9713 13.4764 22.2878 13.4764 22.2878C13.4764 22.2878 22.1848 18.5498 29.8793 7.74329C29.8793 7.74329 27.047 8.07198 25.463 6.93556C25.463 6.93556 29.7534 7.46356 30.7447 6.67506C31.4703 6.09811 32.876 3.85149 33.5788 2.68359C16.8909 8.96888 6.2085 23.4154 6.2085 23.4154C6.2085 23.4154 8.82751 24.0134 10.6615 23.1112Z"
                        fill="url(#paint1_int_1)"></path><defs
                        ><linearGradient
                          id="paint0_int_1"
                          x1="36.6627"
                          y1="-2.61743"
                          x2="-7.35877"
                          y2="34.9037"
                          gradientUnits="userSpaceOnUse"
                          ><stop stop-color="#6441A5"></stop><stop
                            offset="1"
                            stop-color="#2A0845"></stop></linearGradient
                        ><linearGradient
                          id="paint1_int_1"
                          x1="16.7755"
                          y1="23.3437"
                          x2="23.4961"
                          y2="1.15904"
                          gradientUnits="userSpaceOnUse"
                          ><stop stop-color="#6441A5"></stop><stop
                            offset="1"
                            stop-color="#2A0845"></stop></linearGradient
                        ></defs
                      ></svg
                    >
                  </div>
                </div>
                <!-- Brand icon two 2: left center -->
                <div class="brand-icon-block-two two">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="36"
                      height="32"
                      viewBox="0 0 36 32"
                      fill="none"
                      ><path
                        d="M9.18411 12.722C9.18411 15.2791 10.2197 17.595 11.8972 19.269C13.5712 20.9465 15.8836 21.9821 18.4442 21.9821C21.0049 21.9821 23.3137 20.943 24.9912 19.269C26.6652 17.595 27.7008 15.2791 27.7008 12.722C27.7008 9.39888 27.7008 6.07928 27.7008 2.75969C27.7008 1.47228 28.7541 0.422492 30.038 0.422492H31.9319C32.6625 0.422492 33.3505 0.61046 33.9605 0.961572C34.567 1.30914 35.0741 1.8163 35.443 2.45113L35.4891 2.53625C35.8295 3.1569 35.9998 3.82011 35.9998 4.47623C35.9998 5.16781 35.8118 5.85939 35.443 6.50132L31.1516 13.9349C31.1906 13.5342 31.2084 13.1299 31.2084 12.7256V9.16835L33.4214 5.3345C33.5775 5.06141 33.659 4.76705 33.659 4.47623C33.659 4.18541 33.5881 3.92296 33.4498 3.66406L33.4214 3.61796C33.2583 3.33778 33.0455 3.12144 32.8008 2.97957C32.5561 2.83771 32.2617 2.76323 31.9319 2.76323H30.038V12.7256C30.038 15.9246 28.7399 18.8257 26.6404 20.9217C24.5408 23.0248 21.6397 24.3264 18.4407 24.3264C15.2417 24.3264 12.3441 23.0248 10.241 20.9253C8.14142 18.8292 6.84337 15.9281 6.84337 12.7256V2.75969H4.9495C4.62322 2.75969 4.3253 2.83416 4.08059 2.97603C3.83588 3.11789 3.62308 3.33423 3.45994 3.61441C3.30389 3.8875 3.22232 4.18186 3.22232 4.47268C3.22232 4.7635 3.30034 5.05787 3.45994 5.32741V5.33095L5.673 9.1648V12.7185C5.673 13.1228 5.69428 13.5235 5.72975 13.9208L1.44548 6.49778C1.07309 5.85585 0.888672 5.16427 0.888672 4.47268C0.888672 3.7811 1.07309 3.08952 1.44548 2.44404C1.81078 1.8092 2.31794 1.30559 2.92441 0.954478C3.53087 0.606914 4.21891 0.418945 4.95305 0.418945H6.84692C8.13433 0.418945 9.18411 1.46873 9.18411 2.75614V12.7185V12.722Z"
                        fill="black"></path><path
                        d="M12.0353 0.418945H9.69458L11.8048 2.52916C11.9573 2.68166 12.0318 2.86608 12.0318 3.07888V12.7185C12.0318 14.4882 12.7517 16.0913 13.9079 17.251C15.0676 18.4107 16.6742 19.1271 18.4369 19.1271C20.1995 19.1271 21.8061 18.4072 22.9659 17.2475C24.1256 16.0913 24.842 14.4882 24.842 12.7185V3.07888C24.842 2.86254 24.92 2.67811 25.069 2.52916L27.1792 0.418945H24.8385C23.5511 0.418945 22.5013 1.46873 22.5013 2.75614V12.7185C22.5013 13.8427 22.0438 14.8606 21.3096 15.5983C20.5755 16.336 19.5576 16.7899 18.4298 16.7899C17.302 16.7899 16.2841 16.336 15.55 15.6018C14.8158 14.8606 14.3583 13.8427 14.3583 12.7185C14.3583 9.39533 14.3583 6.07573 14.3583 2.75614C14.3583 1.46873 13.305 0.418945 12.0211 0.418945L12.0353 0.418945Z"
                        fill="black"></path><path
                        d="M14.9365 29.8699L11.0388 23.1172C12.1879 23.9364 13.454 24.5571 14.7946 24.9579L16.9545 28.6995V28.703C17.1141 28.9761 17.3269 29.1925 17.5823 29.3379C17.827 29.4797 18.1213 29.5542 18.4476 29.5542C18.7739 29.5542 19.0647 29.4797 19.3094 29.3379H19.313C19.5577 29.196 19.7705 28.9761 19.9336 28.696L22.0935 24.9543C23.4341 24.5571 24.7038 23.9364 25.8493 23.1172L21.9516 29.8628C21.5863 30.4976 21.0792 31.0012 20.4763 31.3488C19.8698 31.6999 19.1782 31.8879 18.4441 31.8879C17.7099 31.8879 17.0254 31.6999 16.4154 31.3488H16.4119C15.8161 31.0048 15.3089 30.4976 14.9401 29.8592L14.9365 29.8699Z"
                        fill="black"></path></svg
                    >
                  </div>
                </div>
                <!-- Brand icon two 3: bottom center -->
                <div class="brand-icon-block-two three">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="34"
                      height="34"
                      viewBox="0 0 34 34"
                      fill="none"
                      ><path
                        d="M5.63007 9.04616H3.646V3.24268H9.45188V5.22435H5.63007V9.04616Z"
                        fill="#30325E"></path><path
                        d="M31.2407 9.04616H29.2566V5.22435H25.4348V3.24268H31.2407V9.04616Z"
                        fill="#30325E"></path><path
                        d="M9.45188 30.8351H3.646V25.0292H5.63007V28.851H9.45188V30.8351Z"
                        fill="#30325E"></path><path
                        d="M31.2407 30.8351H25.4348V28.851H29.2566V25.0292H31.2407V30.8351Z"
                        fill="#30325E"></path><path
                        d="M21.7044 4.75659L17.4435 9.09901L13.1827 4.75659L11.5105 6.39999L17.4435 12.4434L23.3766 6.39999L21.7044 4.75659Z"
                        fill="#FF4653"></path><path
                        d="M17.8777 5.39477C18.9863 5.15508 19.6907 4.06209 19.451 2.95351C19.2113 1.84492 18.1183 1.14054 17.0097 1.38022C15.9011 1.61991 15.1967 2.7129 15.4364 3.82148C15.6761 4.93007 16.7691 5.63445 17.8777 5.39477Z"
                        fill="#FF4653"></path><path
                        d="M21.7046 29.3189L17.4438 24.9789L13.1829 29.3189L11.5107 27.6779L17.4438 21.6321L23.3768 27.6779L21.7046 29.3189Z"
                        fill="#FF7859"></path><path
                        d="M18.9494 32.0891C19.7212 31.258 19.6731 29.9585 18.842 29.1868C18.0109 28.415 16.7115 28.4631 15.9397 29.2942C15.1679 30.1253 15.216 31.4247 16.0471 32.1965C16.8782 32.9683 18.1776 32.9202 18.9494 32.0891Z"
                        fill="#FF7859"></path><path
                        d="M29.7249 21.2985L25.3849 17.0377L29.7249 12.7768L28.0839 11.1046L22.0381 17.0377L28.0839 22.9707L29.7249 21.2985Z"
                        fill="#FFD550"></path><path
                        d="M32.5476 18.4897C33.3496 17.6877 33.3496 16.3874 32.5476 15.5854C31.7456 14.7834 30.4453 14.7834 29.6433 15.5854C28.8413 16.3874 28.8413 17.6877 29.6433 18.4897C30.4453 19.2918 31.7456 19.2917 32.5476 18.4897Z"
                        fill="#FFD550"></path><path
                        d="M5.16235 21.2986L9.50477 17.0378L5.16235 12.7769L6.80576 11.1047L12.8492 17.0378L6.80576 22.9708L5.16235 21.2986Z"
                        fill="#00C3AD"></path><path
                        d="M5.24439 18.4888C6.04639 17.6868 6.0464 16.3865 5.24439 15.5845C4.44239 14.7825 3.14209 14.7825 2.34009 15.5845C1.53809 16.3865 1.53809 17.6868 2.34009 18.4888C3.14209 19.2908 4.44239 19.2908 5.24439 18.4888Z"
                        fill="#00C3AD"></path><path
                        d="M24.5093 11.6685L22.8131 9.97229L17.4438 15.3415L12.0746 9.97229L10.3784 11.6685L15.7477 17.0377L10.3784 22.407L12.0746 24.1031L17.4438 18.7339L22.8131 24.1031L24.5093 22.407L19.14 17.0377L24.5093 11.6685Z"
                        fill="#30325E"></path></svg
                    >
                  </div>
                </div>
                <!-- Brand icon two 4: right center -->
                <div class="brand-icon-block-two four">
                  <div class="brand-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="36"
                      height="25"
                      viewBox="0 0 36 25"
                      fill="none"
                      ><path
                        d="M20.5013 6.88667C21.0985 6.28812 21.4673 5.46265 21.4673 4.55077C21.4673 2.72421 19.9864 1.24329 18.1598 1.24329C17.0048 1.24329 15.9897 1.83622 15.3982 2.73264C15.2408 2.89 2.07549 19.1169 1.95254 19.3031C1.3554 19.9016 0.986572 20.7271 0.986572 21.6383C0.986572 23.4648 2.46749 24.9458 4.29406 24.9458C5.44901 24.9458 6.46416 24.3528 7.05569 23.4564C7.21305 23.2991 20.3784 7.07213 20.5013 6.88597V6.88667Z"
                        fill="black"></path><path
                        d="M28.1197 14.5863C28.7183 13.9877 29.0878 13.1609 29.0878 12.2483C29.0878 10.4217 27.6069 8.9408 25.7803 8.9408C24.6254 8.9408 23.6095 9.53373 23.018 10.4316C22.8592 10.5903 15.945 19.1134 15.8206 19.3016C15.2221 19.9002 14.8525 20.7271 14.8525 21.6396C14.8525 23.4662 16.3335 24.9471 18.16 24.9471C19.315 24.9471 20.3308 24.3542 20.9224 23.4564C21.0811 23.2976 27.9954 14.7746 28.1197 14.5863Z"
                        fill="black"></path><path
                        d="M35.2452 5.30517C35.662 3.52669 34.5582 1.74705 32.7797 1.33023C31.0012 0.913421 29.2216 2.01728 28.8048 3.79576C28.3879 5.57425 29.4918 7.35388 31.2703 7.7707C33.0488 8.18751 34.8284 7.08366 35.2452 5.30517Z"
                        fill="black"></path><path
                        d="M5.51577 7.62523C7.21346 6.95101 8.04315 5.02819 7.36893 3.33049C6.6947 1.6328 4.77189 0.803111 3.07419 1.47733C1.3765 2.15156 0.546809 4.07437 1.22103 5.77207C1.89525 7.46976 3.81807 8.29945 5.51577 7.62523Z"
                        fill="black"></path></svg
                    >
                  </div>
                </div>
              </div>

              <!-- Circle Three (inner) — static dashed circle -->
              <div class="integration-circle circle-three" aria-hidden="true">
              </div>

              <!-- Circle Four (center logo) -->
              <div class="integration-circle circle-four">
                <div class="site-logo flex items-center justify-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="53"
                    height="53"
                    viewBox="0 0 53 53"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.9744 0.57131C10.2126 -0.190432 8.97757 -0.190432 8.21583 0.57131L0.571306 8.21582C-0.190435 8.97757 -0.190435 10.2126 0.571306 10.9743L6.44613 16.8491C7.42159 17.8246 7.96961 19.1476 7.96961 20.5272V32.4728C7.96961 33.8524 7.42159 35.1754 6.44613 36.1508L0.571326 42.0257C0.476104 42.1209 0.392786 42.2235 0.321374 42.3317C-0.17853 43.0888 -0.0952128 44.1177 0.571306 44.7842L8.21583 52.4287C8.97757 53.1904 10.2126 53.1904 10.9743 52.4287L16.8492 46.5539C17.8246 45.5784 19.1477 45.0304 20.5272 45.0304H32.4728C33.8523 45.0304 35.1754 45.5784 36.1508 46.5539L42.0256 52.4287C42.7874 53.1904 44.0224 53.1904 44.7842 52.4287L52.4287 44.7842C53.1904 44.0224 53.1904 42.7874 52.4287 42.0257L46.5539 36.1509C45.5784 35.1754 45.0304 33.8524 45.0304 32.4728V20.5272C45.0304 19.1476 45.5784 17.8246 46.5539 16.8491L52.4287 10.9743C53.1904 10.2126 53.1904 8.97756 52.4287 8.21582L44.7842 0.57131C44.0224 -0.190442 42.7874 -0.190432 42.0257 0.57131L36.1508 6.44611C35.1754 7.42158 33.8523 7.9696 32.4728 7.9696H20.5272C19.1477 7.9696 17.8246 7.42159 16.8492 6.44612L10.9744 0.57131ZM35.8204 12.4136C34.8455 11.4415 33.5248 10.8955 32.1477 10.8955H20.8523C19.4727 10.8955 18.1497 11.4435 17.1742 12.4189L12.4189 17.1742C11.4435 18.1497 10.8955 19.4727 10.8955 20.8523V32.1477C10.8955 33.5273 11.4435 34.8503 12.4189 35.8258L17.1796 40.5864C18.1545 41.5585 19.4752 42.1045 20.8523 42.1045H32.1477C33.5273 42.1045 34.8503 41.5565 35.8258 40.5811L40.5811 35.8258C41.5565 34.8503 42.1045 33.5273 42.1045 32.1477V20.8523C42.1045 19.4727 41.5565 18.1497 40.5811 17.1742L35.8204 12.4136Z"
                      fill="#5542F6"></path>
                    <path
                      d="M28.4351 15.3421H24.5649C22.0912 15.3421 19.7212 16.3358 17.9873 18.1C16.292 19.8248 15.3421 22.1465 15.3421 24.5649V28.4351C15.3421 30.8535 16.292 33.1752 17.9873 34.9C19.7212 36.6642 22.0912 37.6579 24.5649 37.6579H28.4351C30.9088 37.6579 33.2788 36.6642 35.0127 34.9C36.708 33.1752 37.6579 30.8535 37.6579 28.4351V24.5649C37.6579 22.1465 36.708 19.8248 35.0127 18.1C33.2788 16.3358 30.9088 15.3421 28.4351 15.3421Z"
                      fill="#5542F6"></path>
                  </svg>
                </div>
              </div>
            </div>
            <!-- Circle background glow -->
            <div class="integration-circle-bg" aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </Container>

  <!-- Background decorative shapes -->
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <!-- Left SVG grid pattern -->
    <div class="left-block-shape">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="544"
        height="821"
        viewBox="0 0 544 821"
        fill="none"
      >
        <path
          d="M135.673 684.167H0L5.99104e-06 821H135.673V684.167ZM135.673 684.167L135.673 547.334M135.673 684.167L271.346 684.167L271.346 547.334H135.673M135.673 547.334L135.673 410.5M135.673 547.334L9.88102e-06 547.333L3.88998e-06 410.5H135.673M135.673 410.5L135.673 273.667M135.673 410.5L271.346 410.5L271.346 273.667H135.673M135.673 273.667L135.673 136.834M135.673 273.667L9.88101e-06 273.667L3.88997e-06 136.834L135.673 136.834M135.673 136.834L135.673 5.92069e-06L271.346 0L271.346 136.833L135.673 136.834ZM407.327 684.167H271.654V821H407.327V684.167ZM407.327 684.167L407.327 547.334M407.327 684.167L543 684.167V547.334H407.327M407.327 547.334L407.327 410.5M407.327 547.334L271.654 547.333V410.5H407.327M407.327 410.5L407.327 273.667M407.327 410.5L543 410.5V273.667L407.327 273.667M407.327 273.667L407.327 136.834M407.327 273.667L271.654 273.667V136.834L407.327 136.834M407.327 136.834L407.327 3.98526e-05L543 3.39319e-05V136.833L407.327 136.834Z"
          stroke="url(#paint_grid_left)"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <defs
          ><linearGradient
            id="paint_grid_left"
            x1="543.018"
            y1="340.575"
            x2="7.80825e-05"
            y2="343.877"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="white" stop-opacity="0"></stop><stop
              offset="1"
              stop-color="white"
              stop-opacity="0.05"></stop></linearGradient
          ></defs
        >
      </svg>
    </div>
    <!-- Right SVG grid pattern -->
    <div class="right-block-shape">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="544"
        height="821"
        viewBox="0 0 544 821"
        fill="none"
      >
        <path
          d="M408.327 684.167H544L544 821H408.327V684.167ZM408.327 684.167L408.327 547.334M408.327 684.167L272.654 684.167L272.654 547.334H408.327M408.327 547.334L408.327 410.5M408.327 547.334L544 547.333L544 410.5H408.327M408.327 410.5L408.327 273.667M408.327 410.5L272.654 410.5L272.654 273.667H408.327M408.327 273.667L408.327 136.834M408.327 273.667L544 273.667L544 136.834L408.327 136.834M408.327 136.834L408.327 5.92069e-06L272.654 0L272.654 136.833L408.327 136.834ZM136.673 684.167H272.346V821H136.673V684.167ZM136.673 684.167L136.673 547.334M136.673 684.167L0.99998 684.167V547.334H136.673M136.673 547.334L136.673 410.5M136.673 547.334L272.346 547.333V410.5H136.673M136.673 410.5L136.673 273.667M136.673 410.5L0.99998 410.5V273.667L136.673 273.667M136.673 273.667L136.673 136.834M136.673 273.667L272.346 273.667V136.834L136.673 136.834M136.673 136.834L136.673 3.98526e-05L0.99998 3.39319e-05V136.833L136.673 136.834Z"
          stroke="url(#paint_grid_right)"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <defs
          ><linearGradient
            id="paint_grid_right"
            x1="0.982448"
            y1="340.575"
            x2="544"
            y2="343.877"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="white" stop-opacity="0"></stop><stop
              offset="1"
              stop-color="white"
              stop-opacity="0.05"></stop></linearGradient
          ></defs
        >
      </svg>
    </div>
    <!-- Gradient blur shapes -->
    <div
      class="integration-gradient-left absolute rounded-full bg-brand-primary"
    >
    </div>
    <div
      class="integration-gradient-right absolute rounded-full bg-brand-primary"
    >
    </div>
  </div>
</section>

<style>
  /* === Grid Layout === */
  .integration-wrapper {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: center stretch;
    display: grid;
  }

  /* === Content Block === */
  .integration-content-block {
    max-width: 500px;
  }

  /* === Circle Wrap === */
  .integration-circle-wrap {
    z-index: 1;
    width: 480px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .integration-items-logo-block {
    position: relative;
  }

  /* === All circles base === */
  .integration-circle {
    border: 2px dashed rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }

  /* === Circle One (outer) === */
  .circle-one {
    width: 420px;
    height: 420px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* === Circle Two (middle) === */
  .circle-two {
    width: 260px;
    height: 260px;
    margin: auto;
    position: absolute;
    inset: 0%;
    justify-content: center;
    align-items: center;
  }

  /* === Circle Three (inner) === */
  .circle-three {
    width: 160px;
    height: 160px;
    position: absolute;
    inset: 0;
    margin: auto;
  }

  /* === Circle Four (center logo) === */
  .circle-four {
    z-index: 3;
    background-color: #ffffff;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-radius: 47px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 97px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* === Brand Icon Blocks (circle-one icons) === */
  .brand-icon-block {
    background-color: #ffffff;
    border-radius: 29px;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    display: flex;
    position: absolute;
  }

  .brand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brand-icon-block.one {
    top: -10px;
    left: 80px;
  }
  .brand-icon-block.two {
    top: 160px;
    left: -25px;
  }
  .brand-icon-block.three {
    top: auto;
    bottom: 30px;
    left: 35px;
  }
  .brand-icon-block.four {
    bottom: 83px;
    right: -10px;
  }
  .brand-icon-block.five {
    top: 51px;
    right: 0;
  }

  /* === Brand Icon Blocks Two (circle-two icons) === */
  .brand-icon-block-two {
    background-color: #ffffff;
    border-radius: 29px;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    display: flex;
    position: absolute;
  }

  .brand-icon-block-two.one {
    margin-left: auto;
    margin-right: auto;
    top: -25px;
    left: 0;
    right: 0;
  }

  .brand-icon-block-two.two {
    margin: auto auto auto 0;
    inset: 0 auto 0 -25px;
  }

  .brand-icon-block-two.three {
    margin: auto auto 0;
    inset: 0 0 -25px;
  }

  .brand-icon-block-two.four {
    margin: auto 0 auto auto;
    inset: 0 -25px 0 0;
  }

  /* === Circle Background Glow === */
  .integration-circle-bg {
    background-color: #5542f6;
    opacity: 0.8;
    filter: blur(300px);
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: auto;
    position: absolute;
    inset: 0;
  }

  /* === SVG Grid Patterns === */
  .left-block-shape {
    max-width: 500px;
    max-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .right-block-shape {
    max-width: 500px;
    max-height: 600px;
    position: absolute;
    top: 0;
    right: 0;
  }

  /* === Gradient Blur Shapes === */
  .integration-gradient-left {
    opacity: 0.4;
    filter: blur(800px);
    width: 500px;
    height: 350px;
    position: absolute;
    left: -250px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .integration-gradient-right {
    opacity: 0.4;
    filter: blur(800px);
    width: 500px;
    height: 350px;
    position: absolute;
    inset: auto -250px -140px auto;
  }

  /* === Spin Animations === */
  @keyframes integration-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes integration-spin-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .integration-spin {
    animation: integration-spin 30s linear infinite;
  }

  .integration-spin-reverse {
    animation: integration-spin-reverse 25s linear infinite;
  }

  /* Counter-rotate brand icons so they stay upright */
  .integration-spin > .brand-icon-block {
    animation: integration-spin-reverse 30s linear infinite;
  }

  .integration-spin-reverse > .brand-icon-block-two {
    animation: integration-spin 25s linear infinite;
  }

  /* ============= min-1280 ============= */
  @media (min-width: 1280px) {
    .integration-wrapper {
      grid-column-gap: 80px;
      grid-row-gap: 80px;
    }

    .circle-one {
      width: 480px;
      height: 480px;
    }

    .circle-two {
      width: 290px;
      height: 290px;
    }

    .circle-three {
      width: 180px;
      height: 180px;
    }

    .brand-icon-block,
    .brand-icon-block-two {
      border-radius: 33px;
      width: 65px;
      height: 65px;
    }

    .integration-circle-bg {
      width: 220px;
      height: 220px;
    }

    .left-block-shape,
    .right-block-shape {
      max-width: 600px;
      max-height: 700px;
    }

    .integration-gradient-left {
      width: 680px;
      height: 550px;
      left: -340px;
    }

    .integration-gradient-right {
      width: 680px;
      height: 550px;
      bottom: -200px;
      right: -340px;
    }
  }

  /* ============= min-1440 ============= */
  @media (min-width: 1440px) {
    .integration-wrapper {
      grid-column-gap: 140px;
      grid-row-gap: 140px;
    }

    .integration-content-block {
      max-width: 563px;
    }

    .integration-circle-wrap {
      width: 640px;
      height: 638px;
    }

    .circle-one {
      width: 526px;
      height: 526px;
    }

    .circle-two {
      width: 367px;
      height: 368px;
    }

    .circle-three {
      width: 216px;
      height: 216px;
    }

    .integration-circle-bg {
      width: 251px;
      height: 251px;
    }

    .brand-icon-block.one {
      top: 0;
      left: 100px;
    }
    .brand-icon-block.three {
      bottom: 55px;
      left: 40px;
    }
    .brand-icon-block.four {
      bottom: 70px;
      right: 25px;
    }
    .brand-icon-block.five {
      right: 25px;
    }

    .brand-icon {
      flex: none;
    }

    .left-block-shape,
    .right-block-shape {
      max-width: none;
      max-height: none;
    }

    .integration-gradient-left {
      width: 848px;
      height: 628px;
      left: -424px;
    }

    .integration-gradient-right {
      width: 848px;
      height: 628px;
    }
  }

  /* ============= max-991 ============= */
  @media (max-width: 991px) {
    .integration-wrapper {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }

    .integration-content-block {
      max-width: 580px;
    }

    .integration-items-logo-block {
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .brand-icon {
      width: 150px;
    }

    .left-block-shape {
      max-width: 500px;
      max-height: 500px;
    }

    .right-block-shape {
      max-width: 400px;
      max-height: 500px;
      top: auto;
      bottom: 0;
    }

    .integration-gradient-left {
      width: 300px;
      height: 250px;
      left: -150px;
    }

    .integration-gradient-right {
      width: 300px;
      height: 250px;
    }
  }

  /* ============= max-767 ============= */
  @media (max-width: 767px) {
    .integration-wrapper {
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }

    .integration-circle-wrap {
      width: 450px;
      overflow: hidden;
    }

    .circle-one {
      width: 380px;
      height: 380px;
    }

    .brand-icon {
      width: 26px;
    }

    .brand-icon-block,
    .brand-icon-block-two {
      border-radius: 26px;
      width: 52px;
      height: 52px;
    }

    .left-block-shape,
    .right-block-shape {
      max-width: 300px;
      max-height: 400px;
    }

    .integration-gradient-left {
      left: -150px;
    }
  }

  /* ============= max-479 ============= */
  @media (max-width: 479px) {
    .integration-circle-wrap {
      width: 290px;
      height: 330px;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .circle-one {
      width: 240px;
      height: 240px;
    }

    .circle-two {
      width: 140px;
      height: 140px;
    }

    .circle-three {
      width: 140px;
      height: 140px;
    }

    .circle-four {
      border-radius: 35px;
      width: 60px;
      height: 60px;
      top: 51%;
    }

    .site-logo {
      max-width: 36px;
    }

    .site-logo svg {
      width: 30px;
      height: auto;
    }

    .brand-icon {
      width: 22px;
    }

    .brand-icon-block {
      border-radius: 22px;
      width: 40px;
      height: 40px;
    }

    .brand-icon-block.one {
      top: -25px;
      left: 100px;
    }
    .brand-icon-block.two {
      top: 60px;
      left: -15px;
    }
    .brand-icon-block.three {
      bottom: 10px;
      left: 10px;
    }
    .brand-icon-block.four {
      bottom: 10px;
      right: 10px;
    }
    .brand-icon-block.five {
      top: 60px;
      right: -15px;
    }

    .brand-icon-block-two {
      border-radius: 22px;
      width: 44px;
      height: 44px;
    }

    .integration-gradient-right {
      height: 200px;
    }

    .left-block-shape {
      max-width: 200px;
      max-height: 300px;
    }

    .right-block-shape {
      max-width: 200px;
      max-height: 300px;
      top: auto;
      bottom: 0;
    }
  }

  /* === Reduced Motion === */
  @media (prefers-reduced-motion: reduce) {
    .integration-spin,
    .integration-spin-reverse,
    .integration-spin > .brand-icon-block,
    .integration-spin-reverse > .brand-icon-block-two {
      animation: none;
    }
  }
</style>
