---
import Container from './Container.astro';
import FunFactCounter from './FunFactCounter.astro';
import { ourValues } from '../data/about';
---

<section class="relative overflow-hidden bg-surface-primary py-90 min-1280:py-110 min-1440:py-130 max-991:py-70 max-767:py-50">
  <Container>
    <div class="relative z-[1]">
      <!-- Section Header -->
      <div class="flex flex-col items-center reveal">
        <!-- Badge (outline style) -->
        <span class="mb-20 inline-block rounded-19 border border-solid border-white px-20 py-3 text-body text-white">
          {ourValues.badge}
        </span>

        <!-- Title -->
        <h2 class="ov-title text-center">{ourValues.title}</h2>

        <!-- Excerpt -->
        <p class="ov-excerpt mt-20 text-center">{ourValues.description}</p>
      </div>

      <!-- Values Card Wrapper -->
      <div class="ov-card-wrapper mt-[54px]">
        {ourValues.values.map((value, i) => (
          <>
            <div class={`ov-value-item inline-flex flex-col items-center reveal delay-${i + 1}`}>
              <!-- Icon Circle -->
              <div class="ov-icon-wrap flex justify-center items-center rounded-full">
                {i === 0 && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M53.2153 29.9827C52.7027 30.0692 52.3566 30.5552 52.4431 31.0687C52.6474 32.2762 52.7505 33.4911 52.7505 34.682C52.7505 41.3247 49.7898 47.3206 45.0194 51.313C44.1862 45.9035 40.3456 41.5649 35.2457 40.0123C37.2733 38.6597 38.614 36.3552 38.614 33.7395C38.614 29.5814 35.2317 26.2001 31.0745 26.2001C26.9173 26.2001 23.5351 29.5814 23.5351 33.7395C23.5351 36.3552 24.8758 38.6597 26.9034 40.0123C21.8034 41.5649 17.9628 45.9035 17.1297 51.313C12.3593 47.3206 9.39854 41.3247 9.39854 34.682C9.39854 33.4911 9.50162 32.2762 9.70594 31.0687C9.79245 30.5552 9.4464 30.0692 8.93377 29.9827C8.40917 29.8943 7.93427 30.2422 7.84684 30.7558C7.62595 32.0645 7.51367 33.3861 7.51367 34.682C7.51367 46.2563 15.7802 56.0248 27.1695 57.9097C27.221 57.9189 27.2735 57.9226 27.3241 57.9226C27.7769 57.9226 28.1764 57.5949 28.2528 57.1347C28.3383 56.6212 27.9905 56.1352 27.4769 56.0506C24.3011 55.5249 21.3958 54.3242 18.8798 52.621C19.3345 46.2253 24.5908 41.279 31.0745 41.279C37.5583 41.279 42.8146 46.2253 43.2692 52.621C40.7532 54.3242 37.8479 55.5249 34.6722 56.0506C34.1586 56.1352 33.8107 56.6212 33.8963 57.1347C33.9727 57.5949 34.3721 57.9226 34.8249 57.9226C34.8756 57.9226 34.928 57.9189 34.9796 57.9097C46.3688 56.0248 54.6354 46.2563 54.6354 34.682C54.6354 33.3861 54.5231 32.0645 54.3022 30.7558C54.2148 30.2422 53.7344 29.8925 53.2153 29.9827ZM25.4199 33.7395C25.4199 30.6214 27.9564 28.0849 31.0745 28.0849C34.1927 28.0849 36.7291 30.6214 36.7291 33.7395C36.7291 36.8577 34.1927 39.3942 31.0745 39.3942C27.9564 39.3942 25.4199 36.8577 25.4199 33.7395Z" fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.3955 11.0808C41.2841 10.7384 40.9896 10.4899 40.6344 10.4384L34.6126 9.56405L31.9196 4.1064C31.603 3.46584 30.5465 3.46584 30.2299 4.1064L27.5369 9.56405L21.5151 10.4384C21.1599 10.4899 20.8653 10.7384 20.754 11.0808C20.6435 11.4213 20.7356 11.7968 20.9924 12.0471L25.3502 16.2936L24.3212 22.2906C24.2605 22.6458 24.4059 23.0029 24.6958 23.2128C24.9876 23.4245 25.3714 23.4557 25.6889 23.2846L31.0747 20.4517L36.4606 23.2846C36.5987 23.3582 36.7496 23.3932 36.8996 23.3932C37.0947 23.3932 37.2889 23.3324 37.4537 23.2128C37.7436 23.0029 37.889 22.6458 37.8282 22.2906L36.7993 16.2936L41.1571 12.0471C41.4139 11.7968 41.5059 11.4213 41.3955 11.0808ZM35.1289 15.2886C34.9071 15.5058 34.8058 15.8169 34.8583 16.1243L35.6479 20.7278L31.5137 18.554C31.3757 18.4822 31.2257 18.4454 31.0747 18.4454C30.9238 18.4454 30.7738 18.4822 30.6357 18.554L26.5015 20.7278L27.2912 16.1243C27.3437 15.8169 27.2424 15.5058 27.0206 15.2886L23.6761 12.0306L28.2981 11.3587C28.6055 11.3127 28.8705 11.1213 29.0076 10.8433L31.0747 6.65391L33.1418 10.8433C33.279 11.1213 33.544 11.3127 33.8514 11.3587L38.4734 12.0306L35.1289 15.2886Z" fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.52268 26.2441C8.46193 26.5994 8.60735 26.9565 8.89726 27.1663C9.18993 27.378 9.57463 27.4074 9.89031 27.2381L14.111 25.0182L18.3317 27.2381C18.4698 27.3117 18.6207 27.3467 18.7707 27.3467C18.9658 27.3467 19.16 27.2859 19.3248 27.1663C19.6147 26.9565 19.7601 26.5994 19.6994 26.2441L18.8931 21.5448L22.3085 18.2169C22.5653 17.9665 22.6574 17.591 22.5469 17.2505C22.4355 16.9081 22.141 16.6596 21.7858 16.6081L17.0662 15.9233L14.9559 11.6456C14.6393 11.005 13.5827 11.005 13.2661 11.6456L11.1558 15.9233L6.43625 16.6081C6.081 16.6596 5.78649 16.9081 5.67513 17.2505C5.56469 17.591 5.65672 17.9665 5.9135 18.2169L9.3289 21.5448L8.52268 26.2441ZM8.59723 18.2003L11.9169 17.718C12.2243 17.672 12.4894 17.4806 12.6265 17.2026L14.111 14.1931L15.5955 17.2026C15.7327 17.4806 15.9977 17.672 16.3051 17.718L19.6248 18.2003L17.2227 20.5398C17.0009 20.757 16.8997 21.0681 16.9521 21.3755L17.5191 24.6814L14.55 23.1205C14.412 23.0487 14.262 23.0119 14.111 23.0119C13.9601 23.0119 13.8101 23.0487 13.672 23.1205L10.703 24.6814L11.2699 21.3755C11.3224 21.0681 11.2211 20.757 10.9993 20.5398L8.59723 18.2003Z" fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M55.713 16.6081L50.9935 15.9233L48.8831 11.6456C48.5665 11.005 47.51 11.005 47.1934 11.6456L45.083 15.9233L40.3635 16.6081C40.0082 16.6596 39.7137 16.9081 39.6024 17.2505C39.4919 17.591 39.584 17.9665 39.8407 18.2169L43.2561 21.5448L42.4499 26.2441C42.3892 26.5994 42.5346 26.9565 42.8245 27.1663C43.1163 27.378 43.5 27.4074 43.8176 27.2381L48.0383 25.0182L52.259 27.2381C52.397 27.3117 52.548 27.3467 52.698 27.3467C52.8931 27.3467 53.0873 27.2859 53.252 27.1663C53.5419 26.9565 53.6873 26.5994 53.6266 26.2441L52.8204 21.5448L56.2358 18.2169C56.4926 17.9665 56.5846 17.591 56.4742 17.2505C56.3628 16.9081 56.0683 16.6596 55.713 16.6081ZM51.15 20.5398C50.9282 20.757 50.8269 21.0681 50.8794 21.3755L51.4463 24.6814L48.4773 23.1205C48.3392 23.0487 48.1892 23.0119 48.0383 23.0119C47.8873 23.0119 47.7373 23.0487 47.5993 23.1205L44.6302 24.6814L45.1972 21.3755C45.2496 21.0681 45.1484 20.757 44.9266 20.5398L42.5245 18.2003L45.8442 17.718C46.1516 17.672 46.4166 17.4806 46.5537 17.2026L48.0383 14.1931L49.5228 17.2026C49.6599 17.4806 49.925 17.672 50.2324 17.718L53.5521 18.2003L51.15 20.5398Z" fill="white"></path>
                    <path d="M31.0745 58.2428C31.595 58.2428 32.0169 57.8208 32.0169 57.3003C32.0169 56.7799 31.595 56.3579 31.0745 56.3579C30.554 56.3579 30.1321 56.7799 30.1321 57.3003C30.1321 57.8208 30.554 58.2428 31.0745 58.2428Z" fill="white"></path>
                  </svg>
                )}
                {i === 1 && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
                    <path d="M60.3684 31.1579C60.3684 39.0024 57.3135 46.3774 51.7666 51.9244C46.2196 57.4715 38.8446 60.5263 31 60.5263C24.7551 60.5263 18.6661 58.525 13.6552 54.8576L14.2671 57.0022C14.4106 57.5054 14.1192 58.0296 13.616 58.1731C13.5292 58.1979 13.4417 58.2097 13.3556 58.2097C12.9432 58.2097 12.5639 57.9383 12.4451 57.522L11.0065 52.4799C10.9266 52.1999 10.98 51.8986 11.1512 51.663C11.3225 51.4274 11.5925 51.2836 11.8835 51.2732L17.1234 51.0849C17.6454 51.0648 18.0855 51.4748 18.1042 51.9977C18.123 52.5205 17.7144 52.9596 17.1914 52.9785L14.4379 53.0775C19.1879 56.6674 25.017 58.6315 31 58.6315C46.149 58.6315 58.4737 46.3069 58.4737 31.1579C58.4737 26.2994 57.188 21.5248 54.7555 17.3501C54.492 16.8981 54.645 16.318 55.0972 16.0547C55.5491 15.7913 56.1292 15.9441 56.3926 16.3963C58.9936 20.8602 60.3684 25.9646 60.3684 31.1579ZM3.52633 31.1579C3.52633 16.0088 15.851 3.68417 31 3.68417C36.9816 3.68417 42.81 5.6483 47.5601 9.23823L44.8086 9.33711C44.2857 9.35594 43.8771 9.79505 43.8958 10.3179C43.9142 10.8292 44.3345 11.2313 44.842 11.2313C44.8535 11.2313 44.8651 11.2311 44.8766 11.2307L50.1166 11.0424C50.4077 11.032 50.6777 10.8882 50.8489 10.6525C51.0202 10.417 51.0734 10.1157 50.9936 9.83567L49.5551 4.79353C49.4115 4.29036 48.8872 3.99881 48.3841 4.14246C47.8809 4.28598 47.5895 4.81023 47.733 5.3134L48.3455 7.46002C43.3338 3.79145 37.2447 1.78943 31 1.78943C23.1554 1.78943 15.7804 4.84434 10.2335 10.3913C4.68638 15.9383 1.63159 23.3133 1.63159 31.1579C1.63159 36.3523 3.00634 41.4575 5.60746 45.9215C5.78343 46.2236 6.1008 46.3921 6.42682 46.3921C6.58882 46.3921 6.75283 46.3506 6.90287 46.2632C7.35488 45.9998 7.50788 45.4198 7.24451 44.9678C4.81203 40.7929 3.52633 36.0175 3.52633 31.1579ZM36.197 31.328C36.4483 31.328 36.6893 31.4279 36.8669 31.6055C37.0446 31.7831 37.1444 32.0241 37.1444 32.2754C37.1444 35.6633 34.388 38.4197 31 38.4197C27.612 38.4197 24.8557 35.6634 24.8557 32.2754C24.8557 31.7522 25.2799 31.328 25.8031 31.328H36.197ZM35.1432 33.2228H26.8569C27.2886 35.1115 28.9824 36.5249 31 36.5249C33.0177 36.5249 34.7114 35.1115 35.1432 33.2228ZM10.9793 35.8229C10.6136 35.6822 10.3722 35.3308 10.3722 34.9388V32.2754C10.3722 31.7522 10.7964 31.328 11.3196 31.328H21.7101C22.2333 31.328 22.6575 31.7522 22.6575 32.2754C22.6575 36.8755 26.3999 40.6179 31.0001 40.6179C35.6003 40.6179 39.3428 36.8755 39.3428 32.2754C39.3428 31.7522 39.767 31.328 40.2901 31.328H50.6806C51.2038 31.328 51.628 31.7522 51.628 32.2754V34.9387C51.628 35.3307 51.3867 35.682 51.021 35.8228L48.2174 36.902C47.8162 38.398 47.2218 39.8316 46.4453 41.176L47.6654 43.9236C47.8246 44.2817 47.7466 44.7008 47.4695 44.9781L43.7029 48.7448C43.4258 49.0219 43.0068 49.0999 42.6485 48.9407L39.902 47.7208C38.5578 48.4973 37.1236 49.0919 35.6266 49.4932L34.5477 52.2961C34.407 52.6618 34.0555 52.9032 33.6635 52.9032H28.3367C27.9447 52.9032 27.5934 52.6618 27.4526 52.2961L26.3734 49.4925C24.8773 49.0913 23.4436 48.4968 22.0994 47.7205L19.3518 48.9408C18.9937 49.0997 18.5744 49.022 18.2973 48.7448L14.5306 44.9781C14.2535 44.701 14.1756 44.2819 14.3347 43.9236L15.5545 41.1771C14.7781 39.8329 14.1835 38.3987 13.7822 36.9017L10.9793 35.8229ZM12.267 34.2883L14.9204 35.3097C15.212 35.4218 15.4294 35.6705 15.5018 35.9745C15.8923 37.6155 16.5397 39.1773 17.4261 40.6165C17.5899 40.8826 17.612 41.2123 17.4852 41.4978L16.3304 44.0982L19.1772 46.945L21.7787 45.7897C22.0643 45.6629 22.3939 45.6852 22.66 45.8488C24.0994 46.7352 25.6608 47.3826 27.3007 47.7729C27.6045 47.8453 27.8533 48.0627 27.9655 48.3542L28.9871 51.0085H33.0131L34.0344 48.355C34.1466 48.0635 34.3954 47.846 34.6993 47.7736C36.3402 47.3832 37.902 46.7358 39.3412 45.8493C39.6072 45.6854 39.937 45.6631 40.2225 45.7901L42.8229 46.945L45.6697 44.0982L44.5142 41.4967C44.3874 41.2112 44.4095 40.8815 44.5734 40.6155C45.4599 39.1757 46.1073 37.6143 46.4975 35.9747C46.5699 35.6709 46.7873 35.4221 47.0789 35.3099L49.7332 34.2882V33.2226H41.1939C40.7143 38.4251 36.3255 42.5125 31 42.5125C25.6745 42.5125 21.2857 38.425 20.8061 33.2226H12.267V34.2883ZM51.6223 26.0961C51.651 26.3633 51.5647 26.6301 51.385 26.83C51.2054 27.0299 50.9492 27.1442 50.6804 27.1442H39.7475C39.7816 27.3395 39.8117 27.5362 39.8332 27.736C39.8618 28.0032 39.7755 28.2702 39.5958 28.47C39.4162 28.6699 39.1601 28.7842 38.8912 28.7842H23.1091C22.8403 28.7842 22.5842 28.6701 22.4045 28.4702C22.2249 28.2703 22.1386 28.0033 22.1672 27.7361C22.1887 27.5362 22.2187 27.3395 22.2528 27.1442H11.32C11.0512 27.1442 10.795 27.03 10.6154 26.8302C10.4357 26.6303 10.3494 26.3633 10.3781 26.0961C10.6788 23.2847 12.4706 20.9743 14.9197 19.9106C14.1312 19.1258 13.6422 18.0402 13.6422 16.8425C13.6422 14.4547 15.5849 12.5121 17.9727 12.5121C20.3606 12.5121 22.3032 14.4547 22.3032 16.8425C22.3032 18.0446 21.8105 19.1334 21.017 19.9189C22.3799 20.5155 23.5565 21.5017 24.3781 22.76C25.2851 21.7478 26.4191 20.9488 27.6984 20.4388C26.6816 19.5299 26.0401 18.2093 26.0401 16.7413C26.0401 14.0062 28.2652 11.7811 31.0003 11.7811C33.7353 11.7811 35.9604 14.0062 35.9604 16.7413C35.9604 18.2093 35.3188 19.5299 34.3019 20.4388C35.5811 20.9488 36.7153 21.7478 37.6221 22.76C38.4437 21.5017 39.6205 20.5154 40.9834 19.9189C40.1898 19.1335 39.6973 18.0446 39.6973 16.8426C39.6973 14.4548 41.6399 12.5122 44.0277 12.5122C46.4156 12.5122 48.3582 14.4548 48.3582 16.8426C48.3582 18.0403 47.8692 19.126 47.0806 19.9107C49.5297 20.9745 51.3214 23.2849 51.6223 26.0961ZM44.0268 19.2783H44.0276H44.0285C45.3711 19.2779 46.4634 18.1854 46.4634 16.8425C46.4634 15.4995 45.3708 14.4068 44.0277 14.4068C42.6847 14.4068 41.5921 15.4995 41.5921 16.8425C41.5919 18.1854 42.6841 19.2779 44.0268 19.2783ZM30.9988 19.8068H31H31.0012C32.6909 19.8062 34.0655 18.4313 34.0655 16.7414C34.0655 15.051 32.6904 13.6759 31 13.6759C29.3097 13.6759 27.9346 15.051 27.9346 16.7414C27.9346 18.4313 29.3091 19.8062 30.9988 19.8068ZM17.9717 19.2783H17.9725H17.9733C19.316 19.2779 20.4082 18.1854 20.4082 16.8426C20.4082 15.4996 19.3155 14.407 17.9725 14.407C16.6294 14.407 15.5367 15.4996 15.5367 16.8426C15.5367 18.1854 16.6289 19.2779 17.9717 19.2783ZM22.8048 25.2495C22.9154 24.9847 23.0388 24.727 23.1733 24.4764C22.2353 22.4842 20.1985 21.1734 17.9737 21.1729C17.9732 21.1729 17.9729 21.1729 17.9724 21.1729C17.9719 21.1729 17.9716 21.1729 17.9711 21.1729C15.3926 21.1735 13.1889 22.8652 12.4728 25.2495H22.8048ZM37.7562 26.8896C36.9594 23.8689 34.2204 21.7023 31.0013 21.7017C31.001 21.7017 31.0005 21.7017 31.0001 21.7017C30.9997 21.7017 30.9993 21.7017 30.9988 21.7017C27.7797 21.7023 25.0406 23.869 24.2439 26.8897L37.7562 26.8896ZM49.5271 25.2495C48.8111 22.8652 46.6073 21.1735 44.0289 21.1729C44.0285 21.1729 44.0281 21.1729 44.0276 21.1729C44.0272 21.1729 44.0268 21.1729 44.0263 21.1729C41.8014 21.1734 39.7647 22.4841 38.8266 24.4764C38.9611 24.727 39.0845 24.9847 39.1951 25.2495H49.5271Z" fill="white"></path>
                  </svg>
                )}
                {i === 2 && (
                  <svg xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
                    <path d="M30.9999 29.9086C23.7701 29.9086 17.8906 24.0292 17.8906 16.7993C17.8906 9.56949 23.7701 3.69006 30.9999 3.69006C38.2298 3.69006 44.1092 9.56949 44.1092 16.7993C44.1092 24.0292 38.2298 29.9086 30.9999 29.9086ZM30.9999 5.06805C24.5325 5.06805 19.2686 10.332 19.2686 16.7993C19.2686 23.2667 24.5325 28.5306 30.9999 28.5306C37.4673 28.5306 42.7312 23.2667 42.7312 16.7993C42.7312 10.332 37.4673 5.06805 30.9999 5.06805Z" fill="white"></path>
                    <path d="M51.6237 36.3761C51.247 36.3761 50.9347 36.0638 50.9347 35.6871V29.4402L46.2403 24.7459C45.9739 24.4794 45.9739 24.0385 46.2403 23.7721C46.5067 23.5057 46.9477 23.5057 47.2141 23.7721L52.1106 28.6685C52.2392 28.7971 52.3127 28.9717 52.3127 29.1554V35.6963C52.3127 36.0729 52.0003 36.3761 51.6237 36.3761Z" fill="white"></path>
                    <path d="M10.5503 36.376C10.1737 36.376 9.86133 36.0637 9.86133 35.687V29.1461C9.86133 28.9624 9.93482 28.7879 10.0634 28.6593L14.9599 23.7628C15.2263 23.4964 15.6673 23.4964 15.9337 23.7628C16.2001 24.0292 16.2001 24.4702 15.9337 24.7366L11.2393 29.4309V35.6778C11.2393 36.0728 10.927 36.376 10.5503 36.376Z" fill="white"></path>
                    <path d="M31.0093 34.6214C30.6327 34.6214 30.3203 34.309 30.3203 33.9324V29.2196C30.3203 28.843 30.6327 28.5306 31.0093 28.5306C31.386 28.5306 31.6983 28.843 31.6983 29.2196V33.9324C31.6983 34.3182 31.386 34.6214 31.0093 34.6214Z" fill="white"></path>
                    <path d="M10.5509 46.7935C8.1256 46.7935 6.15967 44.8184 6.15967 42.4023C6.15967 39.9862 8.13479 38.0111 10.5509 38.0111C12.9761 38.0111 14.9421 39.9862 14.9421 42.4023C14.9421 44.8184 12.9669 46.7935 10.5509 46.7935ZM10.5509 39.3891C8.88809 39.3891 7.53766 40.7395 7.53766 42.4023C7.53766 44.0651 8.88809 45.4155 10.5509 45.4155C12.2136 45.4155 13.5641 44.0651 13.5641 42.4023C13.5641 40.7395 12.2045 39.3891 10.5509 39.3891Z" fill="white"></path>
                    <path d="M16.3473 58.626H4.7446C3.01752 58.626 1.60278 57.248 1.60278 55.5485C1.60278 51.1297 4.78135 48.7136 10.5505 48.7136C16.3197 48.7136 19.4983 51.1297 19.4983 55.5301V55.5668C19.4799 57.2572 18.0744 58.626 16.3473 58.626ZM10.5505 50.0916C5.53465 50.0916 2.98077 51.9197 2.98077 55.5301C2.98077 56.4855 3.77082 57.248 4.7446 57.248H16.3473C17.3119 57.248 18.1019 56.4855 18.1111 55.5393C18.1111 55.5025 18.1111 55.475 18.1203 55.4474C18.1111 51.9197 15.5664 50.0916 10.5505 50.0916Z" fill="white"></path>
                    <path d="M30.9998 46.7935C28.5746 46.7935 26.6086 44.8184 26.6086 42.4023C26.6086 39.9862 28.5838 38.0111 30.9998 38.0111C33.4159 38.0111 35.391 39.9862 35.391 42.4023C35.391 44.8184 33.4251 46.7935 30.9998 46.7935ZM30.9998 39.3891C29.3371 39.3891 27.9866 40.7395 27.9866 42.4023C27.9866 44.0651 29.3371 45.4155 30.9998 45.4155C32.6626 45.4155 34.013 44.0651 34.013 42.4023C34.013 40.7395 32.6626 39.3891 30.9998 39.3891Z" fill="white"></path>
                    <path d="M36.8059 58.626H25.1941C23.467 58.626 22.0614 57.248 22.0522 55.5485C22.0522 51.1297 25.2308 48.7136 31 48.7136C36.7692 48.7136 39.9477 51.1297 39.9477 55.5301C39.9386 57.248 38.533 58.626 36.8059 58.626ZM31 50.0916C25.9841 50.0916 23.4302 51.9197 23.4302 55.5301C23.4302 56.4855 24.2203 57.248 25.1941 57.248H36.7967C37.7613 57.248 38.5514 56.4855 38.5606 55.5393C38.5698 51.9197 36.0159 50.0916 31 50.0916Z" fill="white"></path>
                    <path d="M51.4493 46.7935C49.024 46.7935 47.0581 44.8184 47.0581 42.4023C47.0581 39.9862 49.0332 38.0111 51.4493 38.0111C53.8746 38.0111 55.8405 39.9862 55.8405 42.4023C55.8405 44.8184 53.8746 46.7935 51.4493 46.7935ZM51.4493 39.3891C49.7865 39.3891 48.4361 40.7395 48.4361 42.4023C48.4361 44.0651 49.7865 45.4155 51.4493 45.4155C53.1121 45.4155 54.4625 44.0651 54.4625 42.4023C54.4625 40.7395 53.1213 39.3891 51.4493 39.3891Z" fill="white"></path>
                    <path d="M57.255 58.626H45.6523C43.9252 58.626 42.5197 57.248 42.5105 55.5485C42.5105 51.1297 45.6891 48.7136 51.4491 48.7136C57.2091 48.7136 60.3968 51.1297 60.3968 55.5301C60.3968 57.248 58.9821 58.626 57.255 58.626ZM51.4491 50.0916C46.4332 50.0916 43.8793 51.9197 43.8793 55.5301C43.8793 56.4855 44.6693 57.248 45.6431 57.248H57.2458C58.2104 57.248 59.0096 56.4855 59.0096 55.5393C59.0188 51.9197 56.4741 50.0916 51.4491 50.0916Z" fill="white"></path>
                    <path d="M29.7232 15.6325C29.3465 15.6325 29.0342 15.3293 29.0342 14.9435C29.0342 14.5669 29.3465 14.2545 29.7232 14.2545C30.0998 14.2545 30.4122 14.5669 30.4122 14.9435C30.4122 15.3202 30.0998 15.6325 29.7232 15.6325Z" fill="white"></path>
                    <path d="M29.7874 15.0356C29.4107 15.0356 29.0984 14.7233 29.0984 14.3466V10.3045C29.0984 10.1943 29.0525 10.1024 28.9606 10.0197C28.6574 9.74413 28.0052 9.94623 28.0052 10.3045V13.8322C28.0052 14.2088 27.6928 14.5212 27.3162 14.5212C26.9395 14.5212 26.6272 14.2088 26.6272 13.8322V10.3045C26.6272 9.31236 27.4907 8.49475 28.5564 8.49475C29.0616 8.49475 29.5302 8.67848 29.8884 9.00001C30.2651 9.33992 30.4764 9.80844 30.4764 10.3045V14.3374C30.4764 14.7233 30.1732 15.0356 29.7874 15.0356Z" fill="white"></path>
                    <path d="M35.3452 24.9479H27.3253C27.0129 24.9479 26.7465 24.7458 26.6638 24.4426L26.4985 23.8639C26.4801 23.7996 26.4709 23.7445 26.4709 23.6802C26.4709 22.394 26.1034 21.163 25.4053 20.1158L24.2294 18.3336C24.1559 18.2233 24.1191 18.0855 24.1191 17.9569V14.9161C24.1191 13.9424 24.9 13.1523 25.8646 13.1523H28.4644C29.429 13.1523 30.2099 13.9424 30.2099 14.9161L30.1547 15.5316C30.1547 16.4411 29.3739 17.2312 28.4093 17.2312H26.9578C26.5812 17.2312 26.2688 16.9188 26.2688 16.5422C26.2688 16.1655 26.5812 15.8532 26.9578 15.8532H28.4093C28.6114 15.8532 28.7767 15.6786 28.7767 15.4673L28.8319 14.8518C28.8319 14.7048 28.6665 14.5303 28.4644 14.5303H25.8646C25.6625 14.5303 25.4971 14.7048 25.4971 14.9161V17.7456L26.5628 19.3533C27.3896 20.6026 27.8305 22.0633 27.8489 23.5791H34.6562V20.7588C34.6562 19.9045 35.1614 19.1328 35.9699 18.7469C36.3006 18.5908 36.5027 18.2968 36.5027 17.9753V13.5657C36.5027 13.1891 36.815 12.8767 37.1917 12.8767C37.5683 12.8767 37.8807 13.1891 37.8807 13.5657V17.9753C37.8807 18.8296 37.3754 19.6013 36.567 19.9871C36.2363 20.1433 36.0342 20.4373 36.0342 20.7588V24.2681C36.0342 24.6447 35.7218 24.9479 35.3452 24.9479Z" fill="white"></path>
                    <path d="M31.3397 16.1559H30.7058C29.8239 16.1559 29.0981 15.4394 29.0981 14.5483V9.8723C29.0981 8.99039 29.8147 8.26465 30.7058 8.26465H31.3397C32.2216 8.26465 32.9473 8.9812 32.9473 9.8723V14.5391C32.9473 15.4302 32.2308 16.1559 31.3397 16.1559ZM30.7058 9.65183C30.5772 9.65183 30.4761 9.75288 30.4761 9.88149V14.5483C30.4761 14.6769 30.5772 14.778 30.7058 14.778H31.3397C31.4683 14.778 31.5693 14.6769 31.5693 14.5483V9.8723C31.5693 9.74369 31.4683 9.64264 31.3397 9.64264H30.7058V9.65183Z" fill="white"></path>
                    <path d="M33.8111 15.9267H33.1772C32.2953 15.9267 31.5696 15.2102 31.5696 14.3191V10.1024C31.5696 9.22049 32.2861 8.49475 33.1772 8.49475H33.8111C34.693 8.49475 35.4188 9.21131 35.4188 10.1024V14.3191C35.4188 15.201 34.693 15.9267 33.8111 15.9267ZM33.1772 9.87274C33.0486 9.87274 32.9476 9.97379 32.9476 10.1024V14.3191C32.9476 14.4477 33.0486 14.5487 33.1772 14.5487H33.8111C33.9397 14.5487 34.0408 14.4477 34.0408 14.3191V10.1024C34.0408 9.97379 33.9397 9.87274 33.8111 9.87274H33.1772Z" fill="white"></path>
                    <path d="M36.273 15.366H35.6391C34.7572 15.366 34.0315 14.6495 34.0315 13.7584V10.6625C34.0315 9.78055 34.748 9.05481 35.6391 9.05481H36.273C37.1549 9.05481 37.8807 9.77136 37.8807 10.6625V13.7584C37.8807 14.6495 37.1641 15.366 36.273 15.366ZM35.6391 10.4328C35.5105 10.4328 35.4095 10.5339 35.4095 10.6625V13.7584C35.4095 13.887 35.5105 13.988 35.6391 13.988H36.273C36.4016 13.988 36.5027 13.887 36.5027 13.7584V10.6625C36.5027 10.5339 36.4016 10.4328 36.273 10.4328H35.6391Z" fill="white"></path>
                  </svg>
                )}
              </div>

              <!-- Value Title -->
              <div class="ov-value-title mt-32">{value.title}</div>

              <!-- Value Excerpt -->
              <p class={`ov-value-excerpt mt-20 mb-0${i === 2 ? ' ov-value-excerpt-wide' : ''}`}>{value.description}</p>
            </div>

            {/* Vertical divider after first item */}
            {i === 0 && <div class="ov-vertical-divider" aria-hidden="true"></div>}

            {/* Vertical divider after second item (hidden at max-991) */}
            {i === 1 && <div class="ov-vertical-divider ov-divider-second" aria-hidden="true"></div>}
          </>
        ))}
      </div>

      <!-- Fun Facts -->
      <div class="ov-funfact-wrapper reveal delay-4">
        {ourValues.stats.map((stat, i) => (
          <>
            <FunFactCounter value={stat.value} suffix={stat.suffix} label={stat.label} class="text-center" />
            {i < ourValues.stats.length - 1 && (
              <div class="ov-funfact-divider" aria-hidden="true"></div>
            )}
          </>
        ))}
      </div>
    </div>
  </Container>

  <!-- Background decorative shapes -->
  <div class="pointer-events-none" aria-hidden="true">
    <div class="ov-bg-left absolute bg-brand-primary rounded-full"></div>
    <div class="ov-bg-right absolute bg-brand-primary rounded-full"></div>
  </div>
</section>

<style>
  /* ============================================================
     TITLE
     ============================================================ */
  .ov-title {
    max-width: 550px;
  }

  /* ============================================================
     EXCERPT
     ============================================================ */
  .ov-excerpt {
    max-width: 570px;
  }

  /* ============================================================
     VALUES CARD WRAPPER
     ============================================================ */
  .ov-card-wrapper {
    background-color: #07263f;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px 30px;
    gap: 30px;
    display: flex;
    overflow: hidden;
  }

  /* ============================================================
     VALUE ITEM
     ============================================================ */
  .ov-icon-wrap {
    background-color: #0c3e67;
    width: 95px;
    height: 95px;
    flex-shrink: 0;
  }

  .ov-value-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.28;
    color: #ffffff;
    text-align: center;
  }

  .ov-value-excerpt {
    text-align: center;
    max-width: 320px;
  }

  /* ============================================================
     VERTICAL DIVIDERS
     ============================================================ */
  .ov-vertical-divider {
    background-color: #dcdcdc;
    width: 1px;
    height: 150px;
    flex-shrink: 0;
  }

  /* ============================================================
     FUN FACTS WRAPPER
     ============================================================ */
  .ov-funfact-wrapper {
    border-top: 1px solid #dcdcdc;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }

  /* Fun fact dividers */
  .ov-funfact-divider {
    background-color: gainsboro;
    width: 1px;
    align-self: stretch;
  }

  /* ============================================================
     BACKGROUND SHAPES
     ============================================================ */
  .ov-bg-left {
    opacity: 0.4;
    filter: blur(800px);
    width: 500px;
    height: 400px;
    top: 15%;
    left: -25%;
  }

  .ov-bg-right {
    opacity: 0.4;
    filter: blur(800px);
    width: 500px;
    height: 400px;
    top: 10%;
    right: -300px;
  }

  /* ============================================================
     min-1280
     ============================================================ */
  @media (min-width: 1280px) {
    .ov-title {
      max-width: 600px;
    }

    .ov-card-wrapper {
      padding: 50px 40px;
      gap: 30px;
    }

    .ov-value-title {
      font-size: 28px;
    }

    .ov-vertical-divider {
      height: 125px;
    }

    .ov-bg-left {
      width: 700px;
      height: 500px;
      left: -35%;
    }

    .ov-bg-right {
      width: 700px;
      height: 500px;
      right: -380px;
    }
  }

  /* ============================================================
     min-1440
     ============================================================ */
  @media (min-width: 1440px) {
    .ov-title {
      max-width: 630px;
    }

    .ov-card-wrapper {
      padding: 60px 55px;
      gap: 55px;
    }

    .ov-funfact-wrapper {
      margin-top: 70px;
      padding-top: 70px;
    }

    .ov-bg-left {
      width: 848px;
      height: 628px;
      left: -424px;
    }

    .ov-bg-right {
      width: 848px;
      height: 628px;
      right: -424px;
    }
  }

  /* ============================================================
     max-991
     ============================================================ */
  @media (max-width: 991px) {
    .ov-card-wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    .ov-value-excerpt {
      max-width: 260px;
    }

    .ov-value-excerpt-wide {
      max-width: 325px;
    }

    .ov-divider-second {
      display: none;
    }

    .ov-bg-left {
      width: 400px;
      height: 350px;
    }

    .ov-bg-right {
      width: 450px;
      height: 350px;
    }
    .ov-funfact-wrapper[data-astro-cid-4lo2iins] {
      gap: 24px;
    }
  }

  /* ============================================================
     max-767
     ============================================================ */
  @media (max-width: 767px) {
    .ov-title {
      max-width: none;
    }

    .ov-value-excerpt,
    .ov-value-excerpt-wide {
      max-width: none;
    }

    .ov-vertical-divider {
      display: none;
    }

    .ov-funfact-wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    .ov-bg-left {
      width: 350px;
      height: 300px;
    }

    .ov-bg-right {
      width: 400px;
      height: 300px;
    }
  }

  /* ============================================================
     max-479
     ============================================================ */
  @media (max-width: 479px) {
    .ov-card-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    .ov-bg-left {
      width: 320px;
      height: 200px;
    }

    .ov-bg-right {
      width: 380px;
      height: 200px;
    }
  }
</style>
